---
---
<html>
  <head>
    <title>crashzoom.life</title>
    <style>
      body {
        width: 500px;
        padding: 40px;
      }
      img {
        width: 70%;
        display: block;
        margin-bottom: 20px;
      }
      p {
        line-height: 1.6;
      }
    </style>
  </head>
  <body>
    <h1>crash zoom life</h1>
    <img src="/628ffc78dcf8bf5a91610bc8_happy-together-waterfall.jpeg" />
    <p>Facing the end of my 20's I pull myself from the depths of degeneracy that served as an excuse for many bad habits and broken relationships in the last 2-3 years. I take a look at my life and decide it's once again time to evolve. Playing back the last 10 years it's hard to fathom the ambition I had as a young man. That one all important ingredient that was somehow bestowed in me. I used to listen to this old Steve Jobs speech from the 80's on YouTube and to paraphrase he talks about this idea that some people are able to zoom out and see a city top down and make connections others can't see while they're busy connecting A to B. When I was 19 I slept on couches in Los Angeles to watch my friends become world famous musicians (and play a small role). I saw what real determination looks like, I learned what it meant to be an artist. Those times built the foundation of the man I am now. I've lived the cliche of "as much failure as possible…" to extreme ends. When my career in the music industry abruptly ended I contemplated suicide while working on a conveyor belt at a bread factory. It's easy to envy those who've had things easier yet somehow acquired their own expansive ideas and tasteful perspectives I had to get my teeth kicked in for. You can't ignore the numbers up on the scoreboard, but in my heart I do believe there's someone taking a spiritual tally as well. I don't think I'm winning in either.</p>
    <p>I'll end this with a quote that's stuck with me from cinematographer Chris Doyle, famous for his part in the look and feel of Wong Kar Wai's generational run of Hong Kong films in the 90's. Images which have become some of the most widely imitated in modern cinema.</p>
    <p><em>"if you imitate me, first of all, you don't drink enough. Secondly, you don't live the life I've had. So why would you bother?"</em></p>
    <p>-bw</p>
  </body>
</html>