---
---
<html>
  <head>
    <title>crashzoom.life</title>
    <link rel="icon" href="/favicon.ico" />
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        padding: 40px;
      }
      h1 {
        margin: 0 0 40px 0;
      }
      .scroll-container {
        display: flex;
        flex-direction: row;
        gap: 60px;
        overflow-x: auto;
        padding-bottom: 40px;
      }
      .post {
        width: 500px;
        flex-shrink: 0;
      }
      img {
        width: 70%;
        display: block;
        margin-bottom: 20px;
      }
      p {
        line-height: 1.6;
      }
    </style>
  </head>
  <body>
    <h1>crash zoom life</h1>
    <div class="scroll-container">

   <div class="post">
      <img src="/IMG_4982.jpg" />
      <p>"They're applauding the DJ. Not the music, not the musician, not the creator. But the medium."</p>
      <p>24 Hour Party People (Michael Winterbottom, 2002)</p>
      <p>Shared experience is our strongest cultural driving force. Capturing a moment and creating a vacuum for a minute of appreciation across physical and digital realms is infinite currency. This idea is the aim of every corporation and artist but becomes more difficult to achieve by the day.</p>
      <p>I think back to the rollout of Blonde, the Endless stream and the collective digestion of a body of work that has become more than seminal. I think about the Life of Pablo rollout and the excitement that came from the chaos. "Imma fix wolves". My favorite song on the record Saint Pablo was added 4 months after initial release.</p>
      <p>I've had conversations with friends about what current artists still have this power to stop time and shift the zeitgeist. Carti's I Am Music, Ye's comeback show, Bieber Coachella have all been moments. But is it even possible now in the way it used to be. Does anyone care if Bob Dylan goes electric. What's the equivalent?</p>
      <p>In my line of work now slowly and day by day me and my best friends/collaborators attempt to pick apart and shape what these post AGI, post Covid, post crypto, all encompassing AI aesthetics can be. What do we care about? How do you make someone feel something?</p>
      <p>I was so lucky to get my shot at the tail end of pre algorithm music industry. I worked on music videos you've seen that launched artists careers, but I also saw the industrial gears that spun to made that happen. Now the conversation is Geese astroturfing campaigns.</p>
      <p>All that to say there's a lot of noise around taste. And to be fair it is the final frontier that shapes output. But taste is earned. You need time to absorb. Lightning in a bottle cultural moments happen through glacial pace carving, slowly then all at once.</p>
      <p>The things im doing now aren't what I thought I'd be doing when I was 18 writing my first video treatment for a rap song that's now 6x platinum. But you zig and zag along whatever path you had and find a way. I still obsess over how to shift and move things within myself and in the world. Is it ok to take your talents to a tech company and give it a shot? I think so.</p>
      <p><em>"As I looked at art more and more, I discovered that that wasn't really a true picture. What really happened was that there were sometimes very fertile scenes involving lots and lots of people – some of them artists, some of them collectors, some of them curators, thinkers, theorists, people who were fashionable and knew what the hip things were – all sorts of people who created a kind of ecology of talent. And out of that ecology arose some wonderful work. So I came up with this word 'scenius' – the intelligence of a whole operation or group of people. I think that's a more useful way to think about culture. Let's forget the idea of 'genius' for a little while, let's think about the whole ecology of ideas that give rise to good new thoughts and good new work."</em>Brian Eno</p>
      <p>-bw</p>
    </div>

      <div class="post">
        <img src="/blowup-final-scene-tennis-court-1.jpg" />
        <p>And I know I'm fakin' it<br>I'm not really makin' it</p>
        <p>I was faking it when I dropped out of my first year of community college to make music videos. The last time i breathed the air of a classroom I got a text that the first music video I ever directed was premiering on The Fader (it was 2015 that was big then). I got up and turned in an unfinished Accounting 101 final and never looked back. Then I ate shit for a year till I found some motion.</p>
        <p>I was faking it when I moved to New York to edit a feature film for the first time. 10,000 hours in Adobe Premiere but it took another 10,000 to be great. When I'm feeling arrogant (a lot of the time) I could say I was the most prolific indie film editor in America for about 2 years. That's probably true. I wear a pendant dedicated to the opening scene of the first movie I cut.</p>
        <p>I was faking it when trading shitcoins changed my life. I was faking it when I tried to be in a serious relationship. I was faking it when I photoshopped bank statements to get into a penthouse. I was faking it when I made global headlines for (redacted personal project). And I'm faking it now as I got a job creative directing for an explosive tech company.</p>
        <p>My pinned tweet for years now is a scene from Antonioni's Blow-Up, one of the greatest films of all time that inspired every great American director of the 70's new Hollywood movement. Coppola, Spielberg, Scorsese, Hopper, Schrader, De Palma. Art is a lineage there is a through line through it all.</p>
        <p>The ending scene of Blow-Up depicts the main character mesmerized by a group of mimes playing tennis with no balls or rackets. When confronted with the illusion it becomes real to him. Bit of a metaphor. Much to study.</p>
        <p>-bw</p>
      </div>

      <div class="post">
        <img src="/628ffc78dcf8bf5a91610bc8_happy-together-waterfall.jpeg" />
        <p>Facing the end of my 20's I pull myself from the depths of degeneracy that served as an excuse for many bad habits and broken relationships in the last 2-3 years. I take a look at my life and decide it's once again time to evolve. Playing back the last 10 years it's hard to fathom the ambition I had as a young man. I used to listen to this Steve Jobs speech from the 80's on YouTube often. Steve talks about this idea that some people are able to zoom out and see a city top down to make connections others can't see while they're busy connecting A to B. He uses that image to emphasis how important it is to put yourself in extraordinary circumstances outside the paths set for you in order to better understand the world. When I was 19 I slept on couches in Los Angeles to watch my friends become world famous musicians (and play a small role in their journey). I saw what real determination looks like, I learned what it meant to be an artist. Those times built the foundation of the man I am now. I've lived the cliche of "as much failure as possible…" to extreme ends. When my career in the music industry abruptly ended I contemplated suicide while working on a conveyor belt at a bread factory. It's easy to envy those who've had things easier yet somehow acquired their own expansive ideas and tasteful perspectives I had to get my teeth kicked in for. You can't ignore the numbers up on the scoreboard, but in my heart I do believe there's someone taking a spiritual tally as well. I don't think I'm winning in either.</p>
        <p>I'll end this with a quote that's stuck with me from cinematographer Christopher Doyle, famous for his part in the look and feel of Wong Kar Wai's generational run of films in 90's Hong Kong. Images which have become some of the most widely imitated in modern cinema.</p>
        <p><em>"if you imitate me, first of all, you don't drink enough. Secondly, you don't live the life I've had. So why would you bother?"</em></p>
        <p>-bw</p>
      </div>

    </div>
  </body>
</html>
