---
---
<html>
  <head>
    <title>crashzoom.life</title>
    <style>
      body {
        width: 500px;
        padding: 40px;
      }
      img {
        width: 70%;
        display: block;
        margin-bottom: 20px;
      }
      p {
        line-height: 1.6;
      }
    </style>